<div class="container">
<div class="row">
  <div class="col">
    <h4 class="p-3 mb-2text-dark">レシピを投稿する</h4>
  </div>
</div>

<div class="row">
  <div class="mx-auto col-md-12 mt-3">
    <%= form_with model: @recipe, url: '/recipes', method: :post, local: true do |f| %>
        <div id="error_explanation">
          <% if @recipe.errors.any? %>
          <h3><%= @recipe.errors.count %>件のエラーが発生しました</h3>
          <ul>
            <% @recipe.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="form-group row">
          <%= f.label "画像", class: "col-form-label" %>
          <%= f.file_field :recipe_image, accept: "images/*" %>
        </div>

        <div class="form-group row">
          <%= f.label "料理名", class: "col-form-label" %>
          <%= f.text_field :name, class: "form-control col-sm-3" %>
        </div>

        <div class="form-group row">
          <%= f.label "説明", class: "col-form-label" %>
          <%= f.text_area :introduction, class: "form-control col-sm-3" %>
        </div>

        <div class="form-group row">
          <%= f.label "カテゴリー", class: "col-form-label" %>
          <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: "選択してください", class: "form-control" %>
        </div>

        <div class="form-group row">
          <%= f.number_field :serving, in: 1..100, class: "form-control col-sm-1" %>
          <%= f.label "人分", class: "col-form-label" %>
        </div>

        <div class="ingredient">
          <table>
          <thead>
            <tr>
              <th>材料</th>
              <th>分量</th>
            </tr>
          </thead>
          <tbody>
            <%= f.fields_for :ingredients do |t| %>
            <tr>
              <td>
                <%= render "ingredient_fields", f: t %>
              </td>
            </tr>
            <% end %>
          </tbody>
          </table>
          <div class="action">
            <%= link_to_add_association "追加", f, :ingredients, class: "btn btn-outline-info" %>
          </div>
        </div>

         <div class="step">
           <h5>調理手順</h5>
           <table>
           <thead>
             <tr>
               <th>番号</th>
               <th>作業</th>
               <th>&nbsp;</th>
             </tr>
           </thead>
          <tbody>
            <%= f.fields_for :steps do |s| %>
            <tr>
              <td><%= render "step_fields", f: s %></td>
            </tr>
            <% end %>
          </tbody>
          </table>
          <div class="action">
            <tr><%= link_to_add_association "追加", f, :steps, class: "btn btn-outline-info" %></tr>
          </div>
          </div>

        <div class="action">
          <%= f.submit "投稿", class: "btn btn-info" %>
        </div>
    <% end %>
  </div>
</div>
</div>