<div class="container">
  <div class="row">
      <div class="col-7 py-4">
        <h4 class="border-bottom mb-2"><%= @recipe.name %></h4>
        <p class="description"><%= @recipe.introduction %></p>
        <div class="recipe-image">
          <%= image_tag @recipe.recipe_image, format: 'jpeg', size: "400x300" %>
        </div>
      </div>
      <div class="col-5 py-4">
        <% if user_signed_in? %>
          <% if current_user.id != @recipe.user.id %>
          <% else %>
            <div class="recipe-btn mt-4">
              <%= link_to "レシピ編集", edit_recipe_path(@recipe.id), id:"recipe-edit", class: "btn btn-warning" %>
              <%= link_to "レシピ削除", recipe_path(@recipe.id), method:  :delete, data: {confirm: "本当に削除しますか？"}, class:  "btn btn-danger" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <section class="cooking_content">
      <ul class="accordion">
        <li>
          <h5>
            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              作り方を見る
          </h5>
          <div class="content">
            <div class="row">
              <div class="col-lg-5 col-xs-12">
                <div class="ingredient_list">
                  <h5 class="item-title">
                    材料(<%= @recipe.serving %>人分)
                  </h5>
                  <div class="ingredient_table">
                    <table class="table table-inverse">
                      <tbody>
                        <% @ingredients.each do |ingredient| %>
                          <tr>
                            <td>
                              <%= ingredient.ingredient_name %>
                            </td>
                            <td>
                              <%= ingredient.amount %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-lg-7  col-xs-12">
                <div class="step_list">
                  <ol>
                    <li>
                      <h5>作り方</h5>
                      <% @steps.each do |step| %>
                        <p>
                          <%= step.step_introduction %>
                        </p>
                      <% end %>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </seciton>
    <div>
      <% if @post_image.favorited_by?(current_user) %>
      <p>
      <%= link_to post_image_favorites_path(@post_image), method: :delete do %>
        <i class="fas fa-heart"></i><%= @post_image.favorites.count %> いいね
      <% end %>
      </p>
      <% else %>
      <p>
        <%= link_to post_image_favorites_path(@post_image), method: :post do %>
          <i class="far fa-heart"></i><%= @post_image.favorites.count %> いいね
        <% end %>
      </p>
      <% end %>
    </div>
    <div>
      <p>コメント数：<%= @recipe.comments.count %></p>
      <% @recipe.comments.each do |comment| %>
        <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
        <%= comment.user.name %>
        <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
        <% if comment.user == current_user %>
          <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete %>
        <% end %>
      <% end %>
    </div>
    <div>
      <%= form_with model: [@recipe, @comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信", class: "btn btn-info" %>
      <% end %>
    </div>
    </div>
  </div>