<p>コメント数：<%= @recipe.comments.count %></p>
<% @recipe.comments.each do |comment| %>
  <div class="d-flex align-items-center">
    <%= image_tag comment.user.get_profile_image(50,50) %>
    <%= comment.user.name %>
    <div class="pl-3">
      <%= comment.comment %>
    </div>
    <div>
      <% if comment.user == current_user %>
        <%= link_to "削除", recipe_comment_path(comment.recipe, comment), method: :delete, remote: true, class: "ml-2" %>
       <% end %>
    </div>
  </div>
<% end %>