<div class="container">
  <div class="row">
    <div class="col-md-3 py-4">
      <span class="d-flex justify-content-center"><%= image_tag @user.get_profile_image(200,200) %></span>
      <table class="table">
        <tbody>
            <tr>
              <th class="d-flex justify-content-center"><%= @user.name %></th>
            </tr>
            <tr>
              <th class="d-flex justify-content-center"><%= @user.introduction %></th>
            </tr>
        </tbody>
      </table>
      <div class="row">
        <%= link_to edit_user_path(@user.id), class: "btn btn-outline-info btn-block my-2" do %>
          <i class="fas fa-user-cog"></i>
          <span>プロフィール編集</span>
        <% end %>
      </div>
      <div class="row">
        <%= link_to new_recipe_path, class: "btn btn-outline-info btn-block mb-2" do %>
          <i class="fas fa-utensils"></i>
          <span>レシピを投稿する</span>
        <% end %>
      </div>
      <!--<div class="row">-->
        <%#= link_to favorites_path, class: "btn btn-outline-info btn-block" do %>
      <!--    <i class="fas fa-heart"></i>-->
      <!--    <span>お気に入り</span>-->
      <!--  <%# end %>-->
      <!--</div>-->

    </div>
    <div class="col-md-7 py-4 mx-4">
    <h4 class="d-flex justify-content-center">マイレシピ</h4>
    <% @recipes.each do |recipe| %>
    <div>
      <%= link_to recipe_path(recipe.id) do %>
         <%= image_tag recipe.recipe_image, size: "300x200" %>
         <span class="ml-5"><%= recipe.name %>
         </span>
      <% end %>
    </div>
    <% end %>
  </div>
  </div>


</div>