<div class="container">
  <div class="row">
    <div class="col-md-4">
      <span><%= image_tag @user.get_profile_image(100,100) %></span>
      <table class="table">
        <tbody>
            <tr>
              <th><%= @user.name %></th>
            </tr>
            <tr>
              <th><%= @user.introduction %></th>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
        <%= link_to "レシピを投稿する", new_recipe_path %>
      </div>
  </div>

  <div class="col-md-8">
    <h4>マイレシピ</h4>
    <% @recipes.each do |recipe| %>
    <div>
      <%= link_to recipe_path(recipe.id) do %>
        <%= image_tag recipe.recipe_image, size: "300x200" %>
        <%= recipe.name %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>